cinder_database_password: ChangeMe_CinderDB123!
cinder_keystone_password: ChangeMe_CinderKS123!
database_password: ChangeMe_DB123!
database_root_password: ChangeMe_DBRoot123!
glance_database_password: ChangeMe_GlanceDB123!
glance_keystone_password: ChangeMe_GlanceKS123!
grafana_admin_password: ChangeMe_Grafana123!
haproxy_password: ChangeMe_HAProxy123!
horizon_secret_key: ChangeMe_HorizonSecret123!
keystone_admin_password: ChangeMe_Admin123!
neutron_database_password: ChangeMe_NeutronDB123!
neutron_keystone_password: ChangeMe_NeutronKS123!
nova_api_database_password: ChangeMe_NovaAPIDB123!
nova_database_password: ChangeMe_NovaDB123!
nova_keystone_password: ChangeMe_NovaKS123!
placement_database_password: ChangeMe_PlacementDB123!
placement_keystone_password: ChangeMe_PlacementKS123!
rabbitmq_erlang_cookie: ChangeMe_ErlangCookie123!
rabbitmq_password: ChangeMe_Rabbit123!
